
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Coustard&family=Prata&family=Slabo+13px&family=Suez+One&family=Vollkorn&family=Yeseva+One&display=swap');

/*---------------- global css----------------*/
.flex-row{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}


:root{
  --text-grey: #364C62;
  --text-dark: black;

  --baby-blue-eyes: #b0d7ff;
  --dark-gunmetal: #2d3142;
  --silver: #adacb5;
  --light-grey: #d8d5db;
  --lavender: #eae8ff;
}

.flex-row{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

/*-------------------global css ---------------*/
.footer{
  position: relative;
  margin-top: auto;
  height: 60%;
  background-color: black;
}
.footer .container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer .container > div{
  flex-basis: 0;
  padding: 3rem 2rem;
}

.footer .container h2{
  color: #fdbd10;
  font-family: Prata;
}
.footer .container p{
  color: lightgrey;
  font-family: Slabo;
}

.footer .newsLetter .form-element{
  position: relative;
  z-index: 2;
  background:black;
  display: inline-block;
}
.footer .newsLetter .form-element input{
  padding:.5rem .7rem;
  border:none;
  background:transparent;
  color: lightgrey;
  font-size:1rem;
  width: 75%;
}
.footer .newsLetter .form-element span{
  padding:.5rem .7rem;
  background: #fdbd10;
  cursor:pointer;
}

.footer .rights, a{
  justify-content:center;
  color: lightgrey;
  font-family: Slabo;
}
.footer .rights a{
  color: #fdbd10;
  font-family: Slabo;
}

.footer .movement{
  background-color: #fdbd10;
  padding:.5rem;
  width:1rem;
  height:1.2rem;
  position: absolute;
  right: 6%;
  top: 50%;
}

.footer .movement span{
  color: var(--dark-gunmetal);
}
.footer .movement span:hover{
  color: var(--dark-gunmetal);
  cursor: pointer;
}
