@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Coustard&family=Prata&family=Slabo+13px&family=Suez+One&family=Vollkorn&family=Yeseva+One&display=swap');

.flex-row{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}


:root{
  --yellowish: #fdb94e;
  --light-dark: #525252;
  --medium-Dark: #414141;
  --dark: #3d3d3d;
  --very-dark: #232323;
}

.post-info {
  margin-left: 1rem;
}

.review{
  background-color: var(--very-dark);
}
.container .site-content{
  display:grid;
  grid-template-columns: 70% 30%;
  font-family: Prata;
}
.container .site-content .content-site{
  color: var(--yellowish);
  margin: 2rem;
}

.site-content .post-content > .post-image .image-frame{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  width: 255px;
  height: 380px;
  overflow: hidden;
}

.site-content .post-content > .post-image, .post-title{
  padding: 0 2rem 1rem 2rem;
}

.site-content .post-content > .post-image .image{
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

.site-content .post-content > .post-image .image:hover{
  width: 105%;
  height: 105%;
  height:auto;
}

.site-content .post-content > .post-image .book-description{
  margin-left: 1rem;
  width: 50%;
  height:auto;
}

.site-content .post-content > .post-image .book-description h2{
  margin : 0;
  font-size:2rem;
  font-family: Prata;
  font-stretch: semi-expanded;
  color: var(--yellowish);
}
.site-content .post-content > .post-image .book-description p{
  padding: .5rem 0;
  font-size:1.2rem;
  font-family: Slabo;
  color: var(--light-grey);
}


.site-content .post-title h3{
  font-size:2rem;
  font-family: Prata;
  font-stretch: semi-expanded;
  color: var(--yellowish);
} 
.site-content .post-title p{
  font-size:1.2rem;
  font-family: Slabo;
  color: var(--light-grey);
} 

button{
  background: var(--silver);
  color: var(--text-dark);
  padding: 1rem;
  border-radius:1.5rem;
  font-size: 0.9rem;
}

/*--------------side bar -------------------*/

.site-content > .sidebar{ 
  padding: .7rem;
  background-color: var(--dark);
  color: var(--yellowish);
}

 .projects{ 
  padding: 1rem;
}

 .projects .projects-thoughts p{ 
   color: var(--light-grey);
}

.projects-list{
  padding-left: 0rem;
  font-family: Vollkorn;
  font-size:1.2rem;
}

.projects-list .list-item a{
  font-size: 1.1rem;
  color: var(--light-grey);
  padding: 0.2rem 1rem;
}


/*-------------- media query 640----------*/
@media only screen and (max-width: 640px){


.container .site-content{
  display:grid;
  grid-template-columns: 1fr;
}

.container .site-content .content-site{
  margin: 1rem;
}
.site-content .post-content > .post-image, .post-title{
  padding: 0 .5rem 1rem .5rem;
  position: relative;
}

.site-content .post-content > .post-image .image-frame{
  /* width: 255px; */
  /* height: 380px; */
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.site-content .post-content > .post-image .image{
  width: 100%;
  height: 100%;
}

.site-content .post-content > .post-image .book-description{
  margin: 1.5rem 0 0 0;
  width: 100%;
  height:auto;
}

.site-content .post-content > .post-image .book-description h2{
  font-size: 1.6rem;
  font-family: Prata;
  font-stretch: semi-expanded;
}
.site-content .post-content > .post-image .book-description p{
  padding: .3rem 0;
  font-size: 1rem;
  font-family: Slabo;
  color: var(--light-grey);
}
.site-content .post-title h3{
  font-size: 1.7rem;
  font-family: Prata;
  font-stretch: semi-expanded;
} 
.site-content .post-title p{
  font-size: 1rem;
  font-family: Slabo;
  color: var(--light-grey);
} 
 .projects-list {
  padding: 0.3rem .5rem;
}
 .projects-list .list-item{
  padding: 0.3rem .5rem;
}
}
