@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Coustard&family=Prata&family=Slabo+13px&family=Suez+One&family=Vollkorn&family=Yeseva+One&display=swap');

.flex-row{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}


:root{
  --text-grey: #364C62;
  --text-dark: black;

  --baby-blue-eyes: #b0d7ff;
  --dark-gunmetal: #2d3142;
  --silver: #adacb5;
  --light-grey: #d8d5db;
  --lavender: #eae8ff;
}

.post-info {
  margin-left: 1rem;
}

.container {
  margin: 2rem;
}

.container .site-content{
  margin: 2rem;
  display:grid;
  grid-template-columns: 70% 30%;
}

.site-content .post-content > .post-image, .post-title{
  padding: 0 2rem 1rem 2rem;
  position: relative;
}


.site-content .post-content > .post-image > div{
  overflow: hidden;
}

.site-content .post-content > .post-image .image{
  width: 80%;
  height:auto;
}

.site-content .post-content > .post-image .book-description{
  width: 50%;
  height:auto;
}

.site-content .post-content > .post-image .book-description h2{
  font-size:2rem;
  font-family: Suez One;
  font-stretch: semi-expanded;
}
.site-content .post-content > .post-image .book-description p{
  font-size:1.2rem;
  font-family: Slabo;
  color: var(--text-grey);
}

.site-content .post-content > .post-image .image:hover{
  width: 90%;
  height:auto;
  transition: 1s ease;
}

.site-content .post-title h3{
  font-size:2rem;
  font-family: Suez One;
  font-stretch: semi-expanded;
} 
.site-content .post-title p{
  font-size:1.2rem;
  font-family: Slabo;
  color: var(--text-grey);
} 

button{
  background: var(--silver);
  color: var(--text-dark);
  padding: 1rem;
  border-radius:1.5rem;
  font-size: 0.9rem;
}

/*--------------side bar -------------------*/

.site-content > .sidebar .projects-list{
  font-family: Vollkorn;
  font-size:1.2rem;
}

.site-content > .sidebar .projects-list .list-item{
  padding: 0.3rem 1rem;
}


/*-------------- media query 640----------*/
@media only screen and (max-width: 640px){


.container .site-content{
  margin: 2rem;
  display:grid;
  grid-template-columns: 1fr;
}

}
